PORT=3000
APP_NAME="Konsulin"
APP_URL="http://localhost:3000"
API_URL="http://localhost:3200"
API_BASE_PATH="/api/v1"
AUTH_PATH="/auth"
TX_URL="http://localhost:3300"
SESSION_COOKIE_SECRET="CHANGE_ME_generate_a_random_64_char_secret"
NEXTJS_URL="http://localhost:3000"
