@import 'tailwindcss';

* {
  border-color: var(--border);
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

.swiper-pagination {
  position: relative !important;
  max-width: 95px !important;
}

.swiper-pagination-bullets {
  left: auto !important;
  transform: none !important;
  margin-left: auto;
}

.swiper-pagination-bullet-active {
  background: #0abdc3 !important;
  width: 24px !important;
  height: 6px !important;
  border-radius: 4px !important;
}

@layer utilities {
  .bg-secondary {
    background-color: var(--secondary);
  }

  .bg-background {
    background-color: var(--soft-gray);
  }

  .text-secondary {
    color: var(--secondary);
  }

  .tab-active[data-state='active'] {
    background-color: var(--secondary) !important;
    color: white !important;
  }

  .btn-soft-gray {
    background-color: var(--soft-gray);
    color: #333;
  }

  .btn-soft-gray:hover {
    background-color: var(--secondary);
    color: white;
  }

  .btn-soft-gray:active {
    background-color: #0fa8a8;
  }
}

@layer components {
  @reference utilities;
  /* This won't be included in your compiled CSS unless you actually use it */
  .card {
    /* ... */
    @apply rounded-lg border p-4;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #2c2f35;
    --primary-foreground: 210 40% 98%;

    --secondary: #13c2c2;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --soft-gray: #efefef;

    --muted: rgba(44, 47, 53, 60%);
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: #efefef;
    --input: 214.3 31.8% 91.4%;
    --ring: 180, 82%, 42%;

    --radius: 1rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
